games.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="categories">
    <xs:annotation>
      <xs:documentation>говорим парсеру что документ надо проверить на соответсвие схеме; указываем где именно находится схема</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="subcategory" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="game" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="gameName">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="TES:Skyrim"/>
                                <xs:enumeration value="Fallout4"/>
                                <xs:enumeration value="CallofDuty:ModernWarfare2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="releaseDate">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="28-10-2016"/>
                                <xs:enumeration value="10-10-2015"/>
                                <xs:enumeration value="12-10-2009"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="pegi">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="16"/>
                                <xs:enumeration value="18"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="price">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="1200"/>
                                <xs:enumeration value="850"/>
                                <xs:enumeration value="450"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ratingMetacritic">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="74"/>
                                <xs:enumeration value="84"/>
                                <xs:enumeration value="86"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="xs:noNamespaceSchemaLocation"/>
    </xs:complexType>
  </xs:element>
</xs:schema>